.banner{
    background-color: var(--black);
}

.banner__image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: .7;
}

.banner__title{
    margin: 0;
    text-align: right;
    background-color: var(--black-80);
    font-weight: normal;
    
}

.banner__title_wrapper--flex-start{
    justify-content: start;
}

.banner__title--left{
    text-align: left;
}

@media screen and (max-width: 500px) {
    .banner__title{
        background-color: var(--main-dark);
    }
}


/*highcontrast*/
html.highcontrast .banner__image{
    display: none;
}

html.highcontrast .banner{
    border-bottom: 4px solid black;
}
