.header-post{
    /*часть записана в html*/
    align-items: center;
    justify-content: space-between;
    z-index: 110;
    border-radius: 0 0 10px 10px;
    transition: padding 400ms ease, border-radius 400ms ease;
}

.header--dark{
    padding: .5rem .875rem;
    border-radius: 0 0 10px 10px;
}

.header-post__logo{
    font-family: "SeoulHangangCondensed-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    transition: color 400ms ease;
}
.header-post__logo:hover{
    color: var(--accent);
}

.header-post__menu{
    align-items: center;
    justify-content: space-between;
    gap: 1.375rem;
}

.header-post__list{
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 1.375rem;
}

.header-post__menu-item a{
    text-decoration: none;
    color: var(--background);
    transition: color 400ms ease, border 400ms ease;
    border: 4px solid transparent;
    font-size: 1.125rem;
}.header-post__menu-item a:visited{
    color: var(--background);
}.header-post__menu-item a:hover{
    color: var(--accent);
    border-bottom: 4px solid var(--accent);
}

.header-post__icon{
    width: 24px;
    height: 24px;
    stroke: var(--background);
    transition: stroke 400ms ease;
}

.header-post__icon:hover{
    stroke: var(--accent);
}

.header-post__language{
    cursor: pointer;
}

.header-post__language a{
    transition: color 400ms ease;
}

.header-post__language:hover a{
    color: var(--accent);
}