.main{
    padding: 5rem 2.5rem;
    width: 100%;
}

.main__header--relative{
    position: relative;
}

.main__home{
    padding: clamp(.625rem, 1.4vw, .875rem);
    background-color: var(--main-dark);
    color: var(--background);
    border-radius: 10px;
}
.main__home svg{
    width: clamp(1.625rem, 2.4vw, 2.125rem);
    height: clamp(1.625rem, 2.4vw, 2.125rem);
}

.main__rubrics{
    background-color: var(--main);
    border-radius: 4px;
    border-left: 2px solid var(--main-dark);
    text-decoration: none;
    color: var(--black);
}

.main__author_info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main__author_info span{
    text-align: right;
}
.main__author_info a{
    text-decoration: none;
    color: var(--black);
}

.main__author--absolute{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.25rem;
    position: absolute;
    right: 0;
    /*учитываем padding от main*/
    top: calc(-5rem - 2.5rem);
}
.main__author--absolute img{
    width: var(--worker-image-width);
    aspect-ratio: 1 / 1.086;
}
.main__author_name{
    margin:0; 
    font-size: clamp(1.5rem, 2.1vw, 2rem); 
    width: var(--worker-image-width); 
    text-align: right;
}

.main__rubrics:visited,
.main__author_info a:visited{
    color: var(--black);
}

.main__precept_wrapper{
    display: flex;
    gap: 1.25rem;
}

.main__precept{
    margin: 0;
    max-width: 29.9rem;
    font-style: italic;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: .2px;
    margin-bottom: 5rem;
}

.main__content{
    max-width: 46.25rem;
    margin: 0 auto;
}
.main__content--margin-top{
    margin-top: 2rem;
}

.main__content--no-margin--no-maxwidth{
    margin: 0;
    max-width: unset;
}

.main__placeholder{
    flex: 0 0 var(--worker-image-width);
}

@media screen and (max-width: 500px) {
    .main__author--absolute{
        position: static;
        align-items: center;
    }
    
}

