.menu{
    max-width: 18rem;
    height: 100%;
}

.menu__sticky{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: 100vh;
}

.menu__heading{
    background-color: var(--first-green-gradient);
    text-align: center;
    padding-top: 3.43rem;
    padding-bottom: 1.5rem;
    margin: 0;
}

.menu__main{
    background-color: var(--light);
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.menu__main-item-wrapper{
    position: relative;
}

.menu__main-item,
.sub-menu__item{
    display: block;
    background-color: transparent;
    color: var(--black);
    width: 100%;
    padding: 1.125rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    transition: background 400ms ease;
    border-left: 4px solid var(--light);
}
.menu__main-item--active{
    color: var(--active-menu);
    border-left: 4px solid var(--active-menu);
}

/*ПОДМЕНЮ*/
.sub-menu{
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--light);
    border-radius: 10px;
}
.sub-menu--active{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.sub-menu__mobile{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0;
    background-color: var(--grey);
}


.sub-menu__item{
    position: relative;
    background-color: transparent;
    transition: background 400ms ease;
}
.sub-menu>li:first-child>.sub-menu__item{
    border-radius: 10px 10px 0 0;
}
.sub-menu>li:last-child>.sub-menu__item{
    border-radius: 0 0 10px 10px;
}

/**/

/*сектор второсетпенного меню*/
.side_menu{
    list-style: none;
    background-color: var(--first-green-gradient);
    margin: 0;
    padding: 2rem 0 0;
    border-bottom: 6px solid var(--main-dark);
    overflow-y: scroll;
}

.side_menu__item{
    display: block;
    text-decoration: none;
    color: var(--background);
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: var(--black);
    transition: background 400ms ease;
}

.side_menu__item:hover,
.menu__main-item:hover,
.sub-menu__item:hover
{
    background-color: var(--main-dark);
}
.menu__main-item:hover{
    border-left: 4px solid var(--main-dark);
}
.side_menu__item--active{
    color: var(--active-menu);
    border-left: 4px solid var(--active-menu);
}

/*нижняя часть меню*/
.menu__socials{
    padding: 1.8rem 0 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--first-green-gradient);
}

.menu__socials_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.625rem;
    height: 3.125rem;
}

.menu__socials_list a,
.menu__socials_list img{
    height: 100%;
}

@media screen and (max-width: 800px){
    .menu{
        grid: none;
        height: 100vh;
        overflow-y: scroll;
        transition: transform 400ms ease;
    }

    .menu__heading,
    .side_menu,
    .menu__socials{
        background-image: var(--menu-gradient);
        clip-path: none;
    }
    .menu__heading{
        font-size: 1.5rem;
    }

    .menu__socials{
        padding-bottom: 7rem;
    }

    /*кнопка поддерево меню*/
    .sub-menu__folders_tree{
        position: absolute;
        padding: 0.687rem 0.562rem;
        background-color: var(--grey);
        text-align: center;
        border-radius: 10px;
        top: 50%;
        right: 7vw;
        transform: translateY(-50%);
    }
    .sub-menu__folders_tree svg{
        width: 1.19rem;
        height: .875rem;
        fill: var(--black);
    }
    .sub-menu__mobile{
        box-shadow: 0 0 150px 4px black/*var(--second-slide-background)*/;
    }

    .sub-menu__mobile li{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 60vw;
        position: relative;
    }
    .sub-menu__item{
        border-left: none;
    }
    .close-button{
        appearance: none;
        border: none;
        padding: 1.25rem;
        width: 100%;
        background-color: var(--background);
        border-radius: 0 0 10px 10px;
    }
}

@media screen and (max-width: 500px){
    .menu{
        max-width: unset;
    }

    .side_menu{
        overflow-y: unset;
    }

    .menu__heading,
    .side_menu,
    .menu__socials{
        background-image: var(--menu-gradient);
    }
}


/*SCROLLBAR*/
.side_menu::-webkit-scrollbar{
    width: 4px;
}

/* Hide the scrollbar buttons */
.side_menu::-webkit-scrollbar-button {
    display: none;
}
  
  /* Style the scrollbar track */
  .side_menu::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Style the scrollbar thumb */
  .side_menu::-webkit-scrollbar-thumb {
    background-color: var(--main-dark);
    width: 4px;
  }
  
  /* Style the scrollbar corner */
  .side_menu::-webkit-scrollbar-corner {
    background-color: transparent;
  }


/*HIGH CONTRAST*/
html.highcontrast .menu__socials_list img{
    filter: grayscale(100%);
}

html.highcontrast .side_menu{
    border-bottom: 6px solid black;
}

.side_menu::-webkit-scrollbar-thumb {
    background-color: grey;
    width: 4px;
  }