
@import url('/assets/css/mobile_bottom.css');
@import url('/assets/css/go_up.css');
@import url('/assets/css/post/header-post.css');
@import url('/assets/css/post/banner.css');
@import url('/assets/css/post/menu.css');
@import url('/assets/css/post/main_flow.css');
@import url('/assets/css/post/main.css');
@import url('/assets/css/post/footer.css');

*{
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 4px;
}

/* Hide the scrollbar buttons */
html::-webkit-scrollbar-button {
    display: none;
}
  
  /* Style the scrollbar track */
  html::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Style the scrollbar thumb */
  html::-webkit-scrollbar-thumb {
    background-color: var(--main-dark);
    width: 4px;
  }
  
  /* Style the scrollbar corner */
  html::-webkit-scrollbar-corner {
    background-color: transparent;
  }

