.mobile_bottom{
    background-color: var(--light);
    border-top: 2px solid var(--main-dark);
    display: flex;
    max-height: 4.375rem;
    gap: clamp(5rem, 2.1vw, 5.75rem);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--bottombar-height);
    z-index: 102;
}

.mobile_bottom__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: var(--black);
}
.mobile_bottom__item:visited{
    color: var(--black);
}

.mobile_bottom__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.75rem;
    aspect-ratio: 1.12/1;
    padding: clamp(.875rem, 5.4vw, 1.5rem);
    background-color: var(--main-dark);
    position: absolute;
    border-radius: 10px;
    border: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--background);
}

@media screen and (min-width: 800px){
    .mobile_bottom{
        display: none;
    }
}

html.highcontrast .mobile_bottom__button{
    border: 2px solid black;
}
