:root{
    --top-padding: clamp( 1.125rem, 1.7vw , 1.5rem);
}

.news_card{
    position: relative;
}

.news_card__date{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--background);
    border-radius: 10px;
    top: 0;
    left: 0;
    transform: translateX(-75%);
}

.news_card__date_background{
    background-color: var(--main-dark);
    border-radius: 10px;
    transform: rotateZ(45deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.news_card__date,
.news_card__date_background{
    width: clamp(3.7rem, 5.55vw, 5rem);
    height: clamp(3.7rem, 5.55vw, 5rem);
}

.news_card__day{
    font-size: clamp(1.5rem, 2.2vw, 2rem);
    line-height: 1;
    transform: translateY(-4px);
}

.news_card__month{
    font-size: clamp(0.66rem, 0.97vw, .8rem);
}
.news_card__day,
.news_card__month{
    line-height: 1;
    transform: translateY(-6px);
}

.news__point{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-dark);
    border-radius: 50%;
}

.news_card__content{
    padding: var(--top-padding) clamp(1.5rem, 2.6vw , 2.4rem);
    border-radius: 20px;
    background-image: var(--main-green-gradient);
    border-left: 2px solid var(--main-dark);
}

.news_card__heading{
    margin: 0;
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    font-weight: 500;
    text-transform: uppercase;
}


.news_card__bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.news_card__link{
    background-color: var(--main-dark);
    font-size: .875rem;
    line-height: 1;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0.625rem 1.5rem;
    text-decoration: none;
    color: var(--background);
    border-radius: 10px;
    transition: background-color 400ms ease;
}

.news_card__link:hover{
    background-color: var(--accent);
}

.news_card__author{
    font-size: .875rem;
}

.news_card__author a{
    text-decoration: none;
    color: var(--black);
}

.news_card__author a:visited{
    text-decoration: none;
    color: var(--black);
}


/*значения для left пересикаются с news*/
.news_card__point{
    position: absolute;
    top: var(--top-padding);
    left: calc(-1 * (clamp(4rem, 5.5vw, 5rem) + .875rem));
    width: 12px;
    height: 12px;
    background-color: var(--main-dark);
    border-radius: 50%;
    transform: translate(-50%, 80%);
}


@media screen and (max-width: 800px){
    .news_card__point{
        display: none;
    }
    
}