.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: transparent;
    width: clamp(min(100%, 56rem), 66vw, 66vw);
    color: var(--background);
}

.header__logo {
    font-family: "SeoulHangangCondensed-Medium", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    transition: color 400ms ease;
}

.header__logo:hover{
    color: var(--accent);
}



.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.375rem;
}

.header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 1.375rem;
}

.header__menu-item a{
    text-decoration: none;
    color: var(--background);
    transition: color 400ms ease, border 400ms ease;
    border: 4px solid transparent;
}

.header__menu-item a:visited{
    color: var(--background);
}

.header__menu-item a:hover{
    color: var(--accent);
    border-bottom: 4px solid var(--accent);
}

.header__icon {
    width: 24px;
    height: 24px;
    stroke: var(--background);
    transition: stroke 400ms ease;
}

.header__icon:hover{
    stroke: var(--accent);
}

.header__language{
    cursor: pointer;
}

.header__language a{
    transition: color 400ms ease;
}

.header__language:hover a{
    color: var(--accent);
}




.header__background{
    position: relative;
    margin: 0 auto;
    max-width: 1376px;
    height: 316px;  
    background-color: var(--background-dark);
    clip-path: path( "M19.6967 -62.3594L1393.32 -58.5024L1373.29 123.597C1361.06 234.715 1259.12 322.505 1147.21 318.29L175.858 281.709C65.4797 277.553 -12.4705 185.385 1.75184 75.8477L19.6967 -62.3594Z");
}

.header__background_image{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    object-fit: cover;
    object-position: center center;
    background-repeat: no-repeat;
}

.header__background_socials{
    position: absolute;
    height: 2rem;
    display: flex;
    gap: 1rem;
    right: 150px;
    bottom: 70px;
}

.header__background_socials a{
    height: 100%;
    color: var(--background);
}

.header__background_socials img{
    height: 100%;
}

