.widgets{
    grid-column: 3;
    grid-row: 2;
    position: relative;
}

.widgets--sticky{
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
}

.widgets__box{
    padding: 1.5rem 1.25rem;
    background-color: var(--light);
    color: var(--black);
    border-radius: 20px;
    text-align: center;
}
    .widgets__box h4{
        margin: 0;
    }
    .widgets__box h4{
        font-size: 1.5rem;
    }
    .widgets__box p{
        font-size: .875rem;
    }


.widgets__search{
    padding: 1.25rem;
    background-image: var(--grey-gradient);
    border-radius: 20px;
    text-align: center;
}

.widgets__search_wrapper{
    position: relative;
}

.widgets__search_input{
    background-color: var(--background);
    border-radius: 6px;
    width: 100%;
    appearance: none;
    border: none;
    padding: .5rem;
}

.widgets__search_icon{
    position: absolute;
    top: 50%;
    right: .875rem;
    transform: translateY(-50%);
    stroke: var(--grey-dark);
}

@media screen and (max-width: 800px) {
    .widgets--stciky{
        position: static;
    }
}


html.highcontrast .widgets__box{
    border: 2px solid black;
}