:root{
    --top-padding: clamp( 1.125rem, 1.7vw , 1.5rem);
}

.list_card{
    position: relative;
}

.list_card__date{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--background);
    border-radius: 10px;
    top: 0;
    left: 0;
    transform: translateX(-75%);
}

.list_card__date_background{
    background-color: var(--main-dark);
    border-radius: 10px;
    transform: rotateZ(45deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.list_card__date,
.list_card__date_background{
    width: clamp(3.7rem, 5.55vw, 5rem);
    height: clamp(3.7rem, 5.55vw, 5rem);
}

.list_card__day{
    font-size: clamp(1.5rem, 2.2vw, 2rem);
    line-height: 1;
    transform: translateY(-4px);
}

.list_card__month{
    font-size: clamp(0.66rem, 0.97vw, .8rem);
}
.list_card__day,
.list_card__month{
    line-height: 1;
    transform: translateY(-6px);
}

.list__point{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-dark);
    border-radius: 50%;
}

.list_card__content_wrapper{
   display: flex; 
   gap: 1.125rem;
   border-left: 2px solid var(--main-dark);
   border-radius: 20px;
   background-image: var(--main-green-gradient);
}

.list_card__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--top-padding) clamp(1.5rem, 2.6vw , 2.4rem);
}

.list_card__heading_wrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.list_card__heading{
    margin: 0;
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    font-weight: 500;
    text-transform: uppercase;
}
.list_card__line{
    width: 100%;
    height: 2px;
    background-color: var(--black);
    border-radius: 2px;
    flex: 1 1;
}


.list_card__bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.list_card__link{
    background-color: var(--main-dark);
    font-size: .875rem;
    line-height: 1;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0.625rem 1.5rem;
    text-decoration: none;
    color: var(--background);
    border-radius: 10px;
    transition: background-color 400ms ease;
}

.list_card__link:hover{
    background-color: var(--accent);
}

.list_card__author{
    font-size: .875rem;
}

.list_card__author a{
    text-decoration: none;
    color: var(--black);
}

.list_card__author a:visited{
    text-decoration: none;
    color: var(--black);
}


/*значения для left пересикаются с list*/
.list_card__point{
    position: absolute;
    top: var(--top-padding);
    left: calc(-1 * (clamp(4rem, 5.5vw, 5rem) + .875rem));
    width: 12px;
    height: 12px;
    background-color: var(--main-dark);
    border-radius: 50%;
    transform: translate(-50%, 80%);
}


.list_card__thumbnail_wrapper{
    padding: .5rem .5rem .5rem 0;
}

.list_card__thumbnail{
    object-fit: cover;
}

@media screen and (max-width: 800px){
    .list_card__point{
        display: none;
    }

    .list_card__content_wrapper{
        flex-direction: column-reverse;
    }

    .list_card__thumbnail_wrapper{
        padding: .5rem;
        text-align: center;
    }
    
}


/*highcontrast*/
html.highcontrast .list_card__content_wrapper{
    border-color: black;
    background-color: white;
    background-image: none;
}

html.highcontrast .list_card__thumbnail{
    filter: grayscale(1);
}